html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: fantasy;
}

.row {
  display: flow-root;
  width: 80vw;
  margin: 0 auto;
}

.column {
  width: 24%;
  min-height: 300px;
  border: 5px ridge grey;
  margin: 1% 0.5%;
  float: left;
  background-color: rgba(0, 0, 0, 0.665);
}

.image {
  width: 100%;
  height: auto;
}

.picture-footer {
  color: white;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 2600px) {
  .picture-footer {
    font-size: 26px;
  }
}

@media screen and (max-width: 1400px) {
  .picture-footer {
    font-size: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .picture-footer {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .column {
    width: 32%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 49%;
  }
}
